---
import BlogCard from '@/components/BlogCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllPosts } from '@/lib/data-utils'
import { Icon } from 'astro-icon/components'

export async function getStaticPaths() {
  const posts = await getAllPosts()
  const postsByTag = new Map<string, typeof posts>()

  for (const post of posts) {
    for (const tag of post.data.tags ?? []) {
      const taggedPosts = postsByTag.get(tag)
      if (taggedPosts) {
        taggedPosts.push(post)
      } else {
        postsByTag.set(tag, [post])
      }
    }
  }

  return [...postsByTag.entries()].map(([tag, taggedPosts]) => ({
    params: { id: tag },
    props: {
      tag,
      posts: taggedPosts,
    },
  }))
}

const { tag, posts } = Astro.props
---

<Layout>
  <PageHead
    slot="head"
    title={`Posts tagged with "${tag}"`}
    description={`A collection of posts tagged with ${tag}.`}
  />
  <Breadcrumbs
    items={[
      { href: '/tags', label: 'Tags', icon: 'lucide:tags' },
      { label: tag, icon: 'lucide:tag' },
    ]}
  />

  <div class="flex flex-wrap items-center gap-2">
    <h1 class="text-3xl font-medium">Posts tagged with</h1>
    <span
      class="bg-secondary flex items-center gap-x-1 rounded-full px-4 py-2 text-2xl font-medium"
    >
      <Icon name="lucide:hash" class="size-6 -translate-x-0.5" />{tag}
    </span>
  </div>

  <ul class="flex flex-col gap-y-4">
    {
      posts.map((post) => (
        <li>
          <BlogCard entry={post} />
        </li>
      ))
    }
  </ul>
</Layout>
